@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lato:300|Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	text-decoration: none;
	font-size: 1rem;
	color: white;
	font-weight: bold;
	width: 100%;
	border-radius: 0.5rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a:hover {
  color: white;
  text-decoration: none !important;
}

a.loginLogout{
	background-color: rgb(0, 197, 168);
	width: 18rem;
	margin: 1rem;
}

a.loginLogout:hover{
	background-color: rgb(0, 148, 126);
}

a.questionBackground{
	letter-spacing: 1.5px;
}

body {
	background-color: rgb(243, 173, 21);
	background-image: url(./images/v-background.jpg);
	background-position: center;
	color: #FFDDE2FF;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

form,
.quiz-list{
	margin: 1rem 0;
	border-radius: 0.5rem;
	background-color: transparent;
	padding: 2rem;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}

h1 {
	color: white;
	font-size: 3.5rem;
	margin-bottom: 4rem;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

img{
	height: 7rem;
	margin-left: 1rem;
	width: 7rem;
}

input{
	margin-right: 1rem;
}

// label{
// 	display: flex;
// 	font-size: 1.5rem;
// 	font-family: 'Roboto', sans-serif;
// 	margin: 0 1rem;
// 	margin-top: 0.5rem;
// }

label{
	color: black;
	font-family: 'Roboto', sans-serif;
	margin-top: 1rem;
}

// .btn:hover {
// 	background-color: rgb(156, 156, 156);
// 	color: white;
// }

#login-form .form-group{
	text-align: start;
}

.card {
  border: none;
  margin: 1.5rem;
  height: 300px;
  justify-content: space-between;
}

.container{
	margin-bottom: 2rem;
}

.gridContainer{
	background-color: rgb(134, 206, 189);
	border-radius: 0.5rem;
	display: grid;
	gap: 20px;
	grid-template-columns: 75% 25%;
	padding: 3rem;
	margin-bottom: 2rem;
}

.gridContainer h2{
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.gridContainer input{
	margin-right: 1rem;
}

.logo{
	justify-content: flex-start;
}

.loginLogout {
	background-color: rgb(243, 243, 243);
	border-radius: 0.75rem;
	box-shadow: 1px 3px 2px grey;
	color: black;
	cursor: pointer;
	font-size: 1rem;
	text-shadow: none;
	width: 8rem;
}

.loginLogout:hover{
	background-color: rgb(206, 204, 204);
}

// .mainPage{
// 	color: #FAA094FF;
// }

// .mainPage:hover{
// 	background-color: #008C76FF;
// 	color: #FFDDE2FF;
// }

.navbar {
	flex-wrap: nowrap;
	margin-bottom: 1rem;
	padding: 0;
	padding-top: 1rem;
	padding-right: 1rem;
	width: 100vw;
}

// .nav-link {
// 	font-size: 1.5rem;
// 	align-items: center;
// 	border-radius: 0.5rem;
// 	text-decoration: none;
// }

// .nav-link:hover {
// 	color: #FFDDE2FF;
// 	text-decoration: none;
// 	cursor: pointer;
// }

// .navbar-brand {
// 	color: #FAA094FF;
// 	font-size: 1.5rem;
// 	margin: 0;
// }

.row {
	justify-content: space-around;
}

.submit {
	padding: 0.5rem;
	width: 100%;
}

.text-decoration{
	color: white;
	font-size: 1rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.allQuizHead {
	margin-top: 5rem;
}

.trash-icon {
	cursor: pointer;
	font-size: 2rem;
	padding-top: 1.5rem;
}

.eachQuestion {
	margin-bottom: 3rem;
}

.questionBackgroundTwo {
	background-color: rgb(0, 197, 168);
	display: flex;
	padding: 0.5rem 0.5rem;
	border-radius: 0.5rem;
	margin-bottom: 2rem;
	height: 14.5rem;
	border: 0.5px solid  rgb(1, 139, 118);
	box-shadow: 1px 3px 2px grey;
}

.questionBackground {
	margin: auto;
	width: 95%;
	background-color: white;
	height: 13rem;
	border-radius: 0.5rem;
	margin-bottom: 0.8rem;
	border: 3px solid  rgba(1, 139, 119, 0.753);
	// box-shadow: 1px 1px 2px grey;
}

.questionNumb {
	font-weight: bold;
	font-size: 1.5rem;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.question {
	font-size: 1rem;
	color: white;
	font-weight: bold;
	width: 100%;
	margin-top: 5.5rem;
	margin-bottom: 0px !important;
	border-radius: 0.5rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.spinner {
	margin: 100px auto;
	font-size: 25px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: load5 1.1s infinite ease;
	animation: load5 1.1s infinite ease;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
  }

.error {
	font-size: 1.5rem;
	margin-bottom: 5rem;
}

.result {
	margin-bottom: 8rem;
	font-size: 3rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-weight: bold;
	color: white;
}

i {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
	margin-right: 0.5rem;
  }

  .left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
  }

  .mainPage {
	background-color: rgb(243, 243, 243);
	width: 20rem;
	height: 3rem;
	border-radius: 0.75rem;
	box-shadow: 1px 3px 2px grey;
	margin: 4rem auto 0.25rem auto;
	font-size: 1rem;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

.btn.answerOption {
	background-color:rgb(0, 197, 168);
	color: white;
	box-shadow: 0px;
}

.btn.answerOption:hover{
	background-color: rgb(0, 119, 101);
}

.eachOption {
	background-color: rgb(243, 243, 243);
	width: 20rem;
	height: 3rem;
	border-radius: 0.75rem;
	box-shadow: 1px 3px 2px grey;
	margin-bottom: 0.25rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 1rem;
}

.btn.submitButton {
	background-color: rgb(0, 197, 168);
	width: 20rem;
	height: 3rem;
	border-radius: 0.75rem;
	box-shadow: 1px 3px 2px grey;
	margin: 6rem auto 0.25rem auto;
	font-size: 1rem;
}

@media only screen and (min-width: 768px) {
	.gridContainer h2{
		font-size: 1.8rem;
	}
}


  @-webkit-keyframes load5 {
	0%,
	100% {
	  box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
	}
	12.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
	}
	25% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	37.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	50% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	62.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	75% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	87.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
	}
  }
  @keyframes load5 {
	0%,
	100% {
	  box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
	}
	12.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
	}
	25% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	37.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	50% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	62.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	75% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	87.5% {
	  box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
	}
}
