@import '~bootstrap/scss/bootstrap';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  align-items: center;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  font-size: 2rem;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}
a:hover{
  background-color: rgb(228, 145, 135);
  color: white;
  text-decoration: none !important;
}

body{
  background-color: #008C76FF;
  color: white;
  text-align: center;
}

h1{
	margin: 1.5rem;
}

.card{
  border: none;
  margin: 1.5rem;
  background-color: #FAA094FF;
  height: 300px;
  justify-content: space-around;
  padding: 0;
}


